# игнорирование файлов, находящиеся в подкаталоге tmp
tmp/
# игнорирование файлов аканчивающиеся суффиксами _old, _backup
*.*_old
*.*_backup
#игнорированин файлов Thumbs.db и .DS_Store
Thumbs.db
.DS_Store